.second {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background: url(http://pycolors.com/we-dance/img/bg_1.jpg) no-repeat center center scroll;
  padding: 10% 0;
}

.second h3:first-child {
  font-size: 1.9em;
}

.second h3 {
  text-align: center;
  margin: 0 0 .25em;
  font-size: 1.5em;
  color: #fff;
}

.three {
  position: relative;
  border-top: rgb(214, 179, 30) solid 1px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background: url(http://pycolors.com/we-dance/img/bg_offre.jpg) no-repeat center center scroll;
  text-align: center;
}

.mask {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #111;
}

.three h2 {
  display: inline-block;
  border-bottom: solid 1px #777;
  color: #fff;
  font-size: 1.9em;
}
